/* Titulo pagina principal */
.titulo{
position: absolute;
width: 774px;
height: 180px;

font-family: Quando;
font-style: normal;
font-weight: normal;
font-size: 144px;
line-height: 180px;

color: #22188F;

mix-blend-mode: darken;
}


.usuario{

/* usuario*/

position: absolute;
width: 164px;
height: 56px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 56px;

color: #503BDB;


}